/*общ стили*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
	font-family: 'Montserrat', Arial, sans-serif;

}

/*конт с фоновым изб*/
.main-container {
    background: url('../images/main.jpg') center/cover no-repeat;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*шапка*/
.page-header {
    padding: 20px;
    padding-bottom: 30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: relative;
}

/*лого и название*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 20px;
}

.logo h1 {
    font-size: 30px;
    padding-bottom: 5px;
}

.logo .underline {
    height: 2px;
    display: block;
	background: #e67e22;
}

/*навигация */
.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 25px;
}

.nav-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/*основной конт*/
.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

/*заголовок и текст */
.header-text {
    text-align: center;
}

.header-text h2 {
    font-size: 95px;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
}

.header-text h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 6px;
    background: #e67e22;
    margin: 20px auto;
}

.header-text p {
    font-size: 40px;
    font-weight: bold;
}

/*форма*/
.contact-form {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.9);
    padding: 22px;
    border-radius: 5px;
    transform: scale(1.6);
    transform-origin: center;
    
}

.contact-form input {
    padding: 10px 10px;
    font-size: 13px;
    min-width: 150px;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
	opacity: .8;
}

.contact-form button {
    background: #e67e22;
    color: #ffffff96;
    border: 1px solid white;
    padding: 8px 58px;
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap;
    outline: 2px solid #e67e22;
}

.contact-form input::placeholder {
    color: #ffffff9; 
    opacity: 0.5; 
}


/*адаптация*/
@media (max-width: 900px) {
    .page-header {
        padding-bottom: 52px;
        flex-direction: column;
        text-align: center;
    }

    .nav-icon {
        width: 25px;
        height: 25px;
    }

    .navigation ul {
        gap: 20px;
        margin-top: 20px;
    }

    .contact-form {
        flex-direction: column;
        transform: none;
    }

    .contact-form input,
    .contact-form button {
        width: 100%;
    }

    .header-text h2 {
        font-size: 48px;
    }

    .header-text p {
        font-size: 24px;
    }
}

@media (min-width: 912px) and (max-width: 1600px) {
    .page-header {
        padding-bottom: 52px;
    }
    
    .logo img {
        height: 55px;
    }
    
    .logo h1 {
        font-size: 38px;
    }
    
    .nav-icon {
        width: 30px;
        height: 30px;
    }

    .navigation ul {
        gap: 30px;
    }
    
    .contact-form {
        transform: none;
    }
}

/*таблица*/
.table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.table td {
    border: 1px solid red;
	padding: 8px;
}

.heig {
    height: 160px;
}

/* Адаптация таблицы */
@media (max-width: 1024px) {
    .heig {
        height: auto; 
    }
}
